<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <div class="error">
                    <p>Invalid username or password. Please try again.</p>
                </div>
            {% endif %}
            <button class="submit-login-button" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a></p>
    </div>
</body>
</html>